*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 7vw;
    height: 7vw;
    background-color: #9ff416;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}